{#
/**
 * @file
 * declare footer elements in Footer
 */
#}
<div class="row">
	<footer class="col-md-12 col-sm-12 col-xs-12">
		<div class="footer_menu">
			<span class="foot-left">{{ footer_content }}</span><span>{{ footer_menu }}</span>
		</div>
	</footer>
</div>
