<div class="row header">
<div class="col-md-2">
{{ gssinfotech_branding }}
</div>
<div class="col-md-9">
<div class="social-icons">{{ social_block }}</div>

<div class="demo-container">
<div class="grey">  
{{ main_menu }}
</div>
</div>


</div>
</div>  