body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #696969;
}
h2 {
    font-size: 18px;
    font-weight: bold;
}
h3 {
    font-size: 14px;
}
.row.header {
    margin: 0;
    background: url(../images/header_bg.gif);
    border-bottom: 2px solid #5d1547;
}
.social-icons .views-row {
    display: inline-block;
}
.social-icons .view-content {
    float: right;
}
body.path-frontpage {
	background-image: url(../images/home_bg.jpg);
    background-size: cover;
}
li.nolist {
    list-style: none;
}
.homeslider {
    height: auto;
    margin-bottom: 50px;
}
.homeslider .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    background: #D6D6D6;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity .2s ease;
    border-radius: 30px;
}
.homeslider .owl-nav {
    display: none;
}
.homeslider .owl-dots {
	text-align: center;
}
.homeslider .owl-dots .owl-dot.active span {
    background: #869791;
}
.slideimg img {
    height: auto;
}
#slider-owl .col-md-5{
	margin-left: 65px;
}
.homebelowslider .owl-carousel .owl-item img {
    display: block;
    width: 100%;
    width: 305px !important;
    margin-right: !important;
}
.homebelowslider .owl-carousel.owl-drag .owl-item {
	width: 318px !important;
}
.homebelowcontainer {
	max-width: 976px;
	margin: 0 auto;
}
.homebelowslider .arrow {
  padding: 3px; 
  position: absolute;
  
}
.homebelowslider .owl-dots{
	display: none;
}
.homebelowslider .arrow-text {
    margin-top: 50px;
    color: #fff;
}
.homebelowslider .owl-nav { 
    margin-top: -13px
}
.homebelowslider .right {
    right: -20px;
    margin-top: -133px;
    background: #ccc;
    height: 129px;
}
.homebelowslider .left {
    left: -20px;
    margin-top: -133px;
    background: #ccc;
    height: 129px;
}
.footer_menu ul.menu {
    margin-left: 0;
}
.footer_menu span, .footer_menu li.menu-item {
    display: inline-block;
}
.footer_menu li.menu-item {
    border-right: 1px solid #ef6b27;
    margin-right: 10px;
    padding-right: 10px;
}
.foot-left{
	border-right: 1px solid #ef6b27;
    margin-right: 10px;
    padding-right: 10px;
}
.sidemenufirst > li > a {
    display: none;
}
.sidemenufirst > li, .sidesecondmenu > li, .sidethirdmenu > li {
    list-style: none;
}

.row.countryrow {
    margin-bottom: 50px;
}
.countrycat {
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 10px;
}
.statecat {
    font-weight: bold;
}
.countryrow .col-md-4 {
    border-right: 1px solid #ccc;
    padding-left: 40px;
}
.block-views-blocknews-block-1 .views-field.views-field-title {
    font-weight: bold;
}
.block-views-blocknews-block-1 .views-row {
    margin-bottom: 30px;
    border-bottom: 1px solid #ccc;
}
.block-views-blocknews-block-1 .views-field-field-news-date {
    font-style: italic;
}
.block-views-blockevents-block-1 .views-field-title {
    font-weight: bold;
    margin-bottom: 10px;
}
.block-views-blockevents-block-1 .views-field-field-event-date {
    font-style: italic;
}
.block-views-blockevents-block-1 .views-field-field-event-date-1 {
    font-style: italic;
}
.block-views-blockevents-block-1 .views-field-body {
    margin-top: 10px;
}
.block-views-blockevents-block-1 .views-row {
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}
.block-views-blockcollateral-block-1 .views-row {
    width: 33%;
    display: inline-block;
    text-align: center;
}
ul.sidemenufirst {
    padding: 0;
    margin: 0;
}
ul.sidesecondmenu {
    padding: 10px;
}

/* New Styles */
#methodology-owl .arrow.left, #methodology-owl .arrow.right {
    position: relative;
    bottom: 120px;
    color: #fff;
    font-size: 20px;
	bottom: 176px;
}
#methodology-owl .arrow.right{
	left: 437px;
}
.methbody {
    padding: 60px;
    color: #fff;
	min-height: 300px;
}
.arrow-text {
    padding: 10px;
    background: #2a2a2a;
}
#methodology-owl {
    width: 60%;
}
#methodology-owl button:focus {
    outline: none;
}

/* Mobile Solutions */
#block-views-block-mobile-solutions-block-1 ul.row {
    list-style: none;
}
#block-views-block-mobile-solutions-block-1 ul.row li {
    border: 1px solid #ccc;
    padding: 10px;
    height: 130px;
    margin: 0 5px 5px 0;
    flex: 0 0 30%;
    max-width: 30%;
}
.descrptn-mbsolutions {
    position: absolute;
    left: 100px;
    top: 0;
	margin-top: 10px;
}
a.ln-mre {
    margin-right: 10px;
    position: absolute;
	top: 95px !important;
    right: 0;
}
.mobile_app.mobile_iphone {
    width: 35%;
}
.descrptn-mbsolutions div {
    min-height: 50px;
}
.descrptn-mbsolutions p {
    margin: 0;
}
.latestreport img {
	width: 100%;
}
.sharetitle {
    margin-right: 40px;
}
.sharetitle p {
    font-size: 34px;
    font-weight: bold;
    color: #C8D9DB;
}
.sharepdf ul {
    list-style: none;
}
.pdfpattern .col-md-10 {
    margin-top: 10px;
}
.pdfpattern {
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}
.accoladespattern {
	border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
	padding-bottom: 20px;
}
.accoladespattern .accoladesbody {
    margin-top: 3%;
}
footer {
    /* position: fixed; */
    bottom: 0;
    background: #fff;
    width: 100%;
    margin-top: 30px;
    /* clear: both; */
}
.contentsec {
    margin-bottom: 80px;
}
#block-views-block-download-brochure-block-2 span.field-content {
    font-size: 22px;
    font-weight: bold;
    color: #95668E;
}
#block-views-block-download-brochure-block-2 .views-field.views-field-field-image img {
    margin-left: 260px;
}
#block-views-block-download-brochure-block-2 .views-field.views-field-field-image {
    border-bottom: solid 5px #f3e5e5;
    height: 126px;
    overflow: hidden;
    width: 89%;
}
.page-title {
	display: none;
}
.heading2 {
    color: #5E5E5E;
    font-family: "Helvetica";
    font-size: 15px;
    font-weight: bold;
}
#block-views-block-career-openings-india-block-1 td {
    border: 1px solid #ede1ec;
    padding: 10px 84px;
}
#block-views-block-career-openings-india-block-1 th, #block-views-block-career-openings-india-block-2 th {
    text-align: center;
	border: 1px solid #ede1ec;
	padding: 10px;
}
#block-views-block-career-openings-india-block-1 tr, #block-views-block-career-openings-india-block-2 tr {
    border: 1px solid #ede1ec;
}
#block-views-block-career-openings-india-block-2 td {
    border: 1px solid #ede1ec;
    padding: 10px 84px;
}
#block-views-block-career-openings-india-block-2 th {
    text-align: center;
}
#block-views-block-career-openings-india-block-1 table, #block-views-block-career-openings-india-block-2 table  {
    margin: 30px 0;
}
#block-views-block-career-openings-india-block-1 thead tr, #block-views-block-career-openings-india-block-2 thead tr {
    background: #f3e5e5;
}
.sidesecondmenu li a {
    display: block;
    outline: medium none;
    padding: 3px;
    color: #666666;
    line-height: 19px;
    font-size: 12px;
}
.liactive {
    background-image: url(../images/ul_li_bg.png);
    background-repeat: no-repeat;
    background-position: right;
    color: #666666 !important;
    font-weight: 100;
}
ul.sidethirdmenu {
    padding: 0;
}
.sidethirdmenu li a {
    border-bottom: 1px dashed #ccc;
}
.sidesecondmenu > li > a {
    border-bottom: 2px solid #c15db8;
    color: #383435;
    font-weight: bold;
}
.openings-tabs div {
    display: inline-block;
    background: #c392bf;
    padding: 6px 30px;
    color: #fff;
    font-weight: bold;
}
.openactive {
	background: #9e5199 !important;
}
.openings-tabs {
    border-bottom: solid 5px #9e5199;
    margin-bottom: 30px;
}
.current-footer {
    background: #FF9;
    padding: 20px;
    text-align: center;
    border: 1px solid #CCC;
    font-weight: bold;
}
.current-footer p {
    margin: 0;
}

/* Information Request Form / Contact US Form */
#contact-message-contact-us-form .form-text {
    display: inline-block;
}
#contact-message-contact-us-form .form-textarea-wrapper {
    display: inline-block;
}
#contact-message-contact-us-form .form-type-textarea label{
    position: relative;
    bottom: 40px;
}
#contact-message-contact-us-form label {
    min-width: 150px;
}
div#block-contactform {
    margin-bottom: 80px;
}
#contact-message-contact-us-form input#edit-preview {
    display: none;
}
span.train-title {
    color: #ad67a6;
    font-weight: bold;
    background-image: url(../images/vid-arrow.png);
}
.col-md-2.left-tr {
    margin-right: 20px;
}
.control-m-training div {
    display: inline-block;
}
.control-m-training {
    border-bottom: 1px dotted #CCCCCC;
    padding: 10px;
}
#block-views-block-bmc-control-m-training-courses-block-1 h2 {
    background-color: #f3e5e5;
    padding: 5px 0 5px 10px;
}
/* li.stronglink > a {
    pointer-events: none;
} */
.cnt-bck {
    text-align: center;
    margin: 50px;
}
.cnt-bck p {
    margin: 5px;
}
.cnt-bck a {
    background: #5d1547;
    padding: 4px 10px;
    color: #fff;
}
#block-views-block-webinars-block-1 h5 {
    font-size: 12px;
    color: #ad67a6;
    font-weight: bold;
    padding: 3px 0 0px 10px;
    background-image: url(../images/vid-arrow.png);
    background-repeat: no-repeat;
    background-position: left;
}
#block-views-block-webinars-block-1 .views-row{
	border-bottom: 1px dotted #ccc;
	margin-bottom: 20px
}
#block-views-block-professional-list-block-1 table {
    border-collapse: collapse;
    width: 100%;
}
#block-views-block-professional-list-block-1 tbody tr:nth-child(even) {
    background: #cce6ff;
}
#block-views-block-professional-list-block-1 td {
    height: 20px;
    padding: 5px;
    border: 1px solid #ede1ec;
}
#block-views-block-professional-list-block-1 thead tr {
    background: #cce6ff;
	height: 30px;
}
.file--application-pdf a:hover, .ln-mre a:hover {
    color: #5f1ba2 !important;
    text-decoration: none;
}
.file--application-pdf a:link, .ln-mre a:link {
    color: #ab77df;
    text-decoration: none;
}
.file--application-pdf a:visited, .ln-mre a:visited {
    color: #ab77df;
    text-decoration: none;
}
#block-views-block-career-openings-india-block-2 {
    display: none;
}
#block-views-block-career-openings-india-block-1 a, #block-views-block-career-openings-india-block-2 a {
    color: #696969;
}
#block-views-block-faq-block-1 span.views-label.views-label-body {
    float: left;
    margin-right: 5px;
}
.page-node-type-annual-reports .field--name-field-color-code {
    font-size: 34px;
    font-weight: bold;
    color: #C8D9DB;
	margin-right: 50px;
}
.page-node-type-annual-reports .node__content > div {
    display: inline-block;
}
.region-content {
    margin-top: 20px;
}
#block-views-block-testimonials-block-1 .views-row {
    border-bottom: 1px dotted #ccc;
    margin-bottom: 20px;
}
.test-title {
    font-weight: bold;
    margin: 0;
}
.test-position {
    font-style: italic;
}
.test-right {
    float: right;
}
#block-views-block-test-management-block-1 .views-row, #block-views-block-specialized-services-block-1 .views-row {
	margin-bottom: 30px;
}
#block-views-block-test-management-block-1 .views-field-title, #block-views-block-specialized-services-block-1 .views-field-title {
    color: #333333 !important;
    font-size: 14px;
}
#block-views-block-download-brochure-block-1 {
    margin-top: 20px;
}
.ln-mre {
    float: right;
}
.node--type-upload-pdfs .field--name-field-u .field__item {
    line-height: 30px;
}